---
import "../style/style.css";
import "../layout/layout.css";
import Tilbage_knap from "../components/tilbage_knap.astro";
import Header_card from "../components/header_card.astro";
import Footer from "../components/footer.astro";
import Banner from "../components/banner.astro";
import Overskift from "../components/overskift.astro";
import Kurv from "../components/kurv.astro";
import Levering from "../components/levering.astro";
import UndersideHeader from "../components/undersideHeader.astro";
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="https://use.typekit.net/heg3tgx.css" />
  <link rel="icon" href="svg/logo.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Om os</title>
</head>
<body>
  <header>
    <Banner />
    <div class="flex">
      <a href="/#"><Tilbage_knap /></a>
      <UndersideHeader />
    </div>
  </header>

  <Overskift text="Om Os">
    <img src="/img/stregen2.webp" alt="" />
  </Overskift>

  <section class="first">
    <div><img src="/img/IMG_3606 - Kopi.avif" alt="" /></div>

    <div>
      <h1>Det som du skal vide om os</h1>
      <p>
        Anna Elisabeth Blomster er stiftet af Rafi i 2021 og er opkaldt efter
        sin datter. Anna Elisabeth Blomster ApS er en blomsterbutik med passion
        for at levere smukke og unikke blomsterarrangementer til kunderne.
        <br />
         Butikken ligger i hjertet af Egedal lige ved Egedal St. i De Grønne
        Porte. Som kunde kan man vælge mellem et udvalg af friske og farverige
        blomster og planter. Hos Anna Elisabeth Blomster leverer de blomster af
        høj kvalitet og fremragende kundeservice - og så kan de hjælpe med at
        skabe det perfekte look og stemning.
      </p>
    </div>
  </section>

  <section class="secound">
    <div class="opening-hours">
      <ul>
        <h4>Åbningstider</h4>
        <li>Mandag 10.00-18:00</li>
        <li>Tirsdag 10.00-18.00</li>
        <li>Onsdag 10.00-18.00</li>
        <li>Torsdag 10.00-18.00</li>
        <li>Fredag 10.00-18.00</li>
        <li>Lørdag 10.00-16.00</li>
        <li>Søndag 10.00-15.00</li>
      </ul>
    </div>

    <div class="ae">
      <ul>
        <h4 class="fo">Find os</h4>
        <li>Dronning Dagmarsvej 244, 3650 Ølstykke</li>
        <li>Mobil: +45 47 47 79</li>
        <li>E-mail: Info@Aeblomster.dk</li>
      </ul>
    </div>
  </section>

  <section class="third">
    <h4 class="om_os">Se vores butik her</h4>
    <iframe width="560" height="315" src="https://youtu.be/lLJi4-kyoN8" ></iframe>
  </body>
  </section>
  <Footer />
</body>

<style>
    .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*     justify-content: center;
    align-items: center; */
    gap: 50px;
    padding: 10px;
    margin-top: 5%;
  }

  .first h1 {
    font-size: 35px;
    margin-bottom: 60px;
    margin-left: 50px;
max-width: 100%;
  }

  .first img {
    /*     margin-left: 200px;
    width: 100%; */
    max-width: 400px;
    margin-left: 25%;
  }

  .first p {
    max-width: 80%;
    line-height: 2.3;
    margin-left: 50px;
  }

  br {
    margin-bottom: 30px;
  }

  .secound {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-top: 3%;
    margin-bottom: 6%;
    margin-left: 210px;
    margin-right: 210px;
    border: 1px solid var(--green);
    padding: 10px;
  }

  .secound li {
    list-style: none;
    line-height: 30px;
    font-family: "yaldevi", sans-serif;
    margin-top: 2%;
  }

  .ae {
    text-align: left;
  }

  .third {
   text-align: center;
    margin-top: 5%;
    font-size: 25px;
    text-align: center;
    color: var(--green);
    margin-top: -30px;
    margin-bottom: 10px;
    line-height: 4;
  }

  .third video {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 70%;
    height: auto;
margin-left: auto;
margin-right: auto;
    
  }

  @media screen and (max-width: 900px) {
    .first {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 20px;
      text-align: center;
    }

    .first img {
      width: 80%;
      max-width: 100%; /* Sørg for, at billedet ikke overstiger sin container */
      margin: auto; /* Centrer billedet vandret */
      display: block;
    }

    .first p {
      text-align: left;
      max-width: 600px;
      margin-top: 10px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .secound {
      display: block;
      text-align: center;
      gap: 10px;
      margin-top: 3%;
      margin: 20px;
      border: 1px solid var(--green);
    }

    .secound ul{
      margin-left: auto;
      margin-right: auto;
      padding: 0%;
    }

    .ae {
      text-align: center;
    }



   .opening-hours h4 {
      line-height: 60px;
      text-decoration: underline;
    }

    .first h1 {
      display: flex;
      margin-left: auto;
      margin-right: auto;
    max-width: 100%;
  }

  }
</style>
