---
import "../style/style.css";
---

<article class="bg_footer">
  <div class="footer_grid">
    <div class="foot1">
      <p>Min konto</p>
      <p>Job hos Anna Elisabth Blomster</p>
      <p>Blomsterlevering</p>
      <p>Kontakt os</p>
      <p>Handels- og abonnementsbetingelser</p>
    </div>
    <div class="foot2">
      <p class="find_os_foot">Find os</p>
      <div class="icon_foot">
        <div class="fb_foot"></div>
        <div class="ig_foot"></div>
      </div>
      <div class="logo_foot"></div>
      <p class="cr_foot">@Copyrigt 2022. Anna Elisabeth Blomster Aps</p>
    </div>
    <div class="foot3">
      <p>Inspiration & tips</p>
      <p>Events</p>
      <p>Arrangementer</p>
      <p>Bæredygtighed</p>
      <p>Om Anna Elisabth Blomster</p>
    </div>
  </div>
</article>

<style>
  .bg_footer {
    position: relative;
    background-image: url(/svg/footer.svg);
    background-size: auto;
    aspect-ratio: 1440/354;
    width: 100%;
  }

  .footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    gap: 40px;
    top: 20%;
  }
  .foot2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .foot1 {
    font-size: 80%;
    margin-left: 30%;
    padding: 10%;
  }
  .foot3 {
    font-size: 80%;
    margin-right: 30%;
    padding: 10%;
  }
  .find_os_foot {
    font-size: 80%;
  }
  .logo_foot {
    position: relative;
    background-image: url(/svg/logo.svg);
    background-size: 100%;
    aspect-ratio: 1/1;
    width: 35%;
  }
  .icon_foot {
    display: flex;
    justify-content: center;
    gap: 1.5%;
    width: 100%;
  }
  .fb_foot {
    position: relative;
    background-image: url(/svg/fb.svg);
    background-size: 100%;
    aspect-ratio: 1/1;
    width: 7%;
  }
  .ig_foot {
    position: relative;
    background-image: url(/svg/insta.svg);
    background-size: 100%;
    aspect-ratio: 1/1;
    width: 7%;
  }
  .cr_foot {
    font-size: 80%;
  }

  @media (max-width: 700px) {
    .bg_footer {
      position: relative;
      background-image: url(/svg/footer_mobile.svg);
      background-size: 100%;
      aspect-ratio: 379/216;
      width: 100%;
    }

    .find_os_foot {
      display: none;
    }

    .footer_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
      top: 20%;
      gap: 40px;
      padding: 0;
      .foot2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        grid-column: 1/3;
      }
      .foot1,
      .foot3 {
        font-size: 60%;
        margin-left: 7%;
        margin-bottom: -50px;
      }
      .foot3 {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      .find_os_foot {
        font-size: 60%;
      }
      .logo_foot {
        display: none;
      }
      .icon_foot {
        display: flex;
        justify-content: center;
        gap: 2%;
        width: 50%;
      }
      .fb_foot {
        position: relative;
        background-image: url(/svg/fb.svg);
        background-size: 100%;
        aspect-ratio: 1/1;
        width: 10%;
      }
      .ig_foot {
        position: relative;
        background-image: url(/svg/insta.svg);
        background-size: 100%;
        aspect-ratio: 1/1;
        width: 10%;
      }
      .cr_foot {
        font-size: 20%;
      }
    }
  }
</style>
