---
import "../style/style.css";

const { data } = Astro.props;
---

<a href={`/udvalg/${data.slog}`}>
  <article class="polaroid">
    <div class="pcard_box">
      <img src={data.billede} alt="billede" loading="lazy" />
    </div>
    <div class="product">
      <p class="bold">{data.produktnavn}</p>
      <p>{data.pris},-</p>
    </div>
  </article>
</a>

<style>
  .polaroid {
    display: inline-block;
    border: 1px solid rgb(155, 177, 125);
    padding: 40px;
    width: fit-content;
    text-align: center;
    background-color: var(--sand);
  }

  .polaroid:hover {
    border-color: var(--green);
    box-shadow: 0 0 20px rgba(155, 177, 125); /* Ændre skygge ved hover */
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .pcard_box {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  .bold {
    font-weight: bold;
  }

  .product {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media screen and (max-width: 900px) {
    .polaroid {
      margin: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    .pcard_box {
      width: 250px;
      height: 250px;
      overflow: hidden;
    }
  }
</style>
