---
import "../style/style.css";
---

<button class="tilbageknap">
  <span class="pil">&larr;</span> Tilbage
</button>
<style>
  .tilbageknap {
    color: var(--brown);
    background-color: var(--sand);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0px;
    display: flex;
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .tilbageknap:hover {
    color: var(--pink);
  }

  .pil {
    margin-right: 5px;
    margin-top: -4px;
  }
</style>
